.gallery {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__item {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.gallery__item img {
    cursor: pointer;
}